.table_users {
	border: 2px solid #666666;
	margin-top: 15px;
}

.table_users td {
	text-align: center;
	vertical-align: middle;
}
.table_users td a {
	box-sizing: border-box;
    -moz-box-sizing: border-box;
	display: block;
	padding: 20px 10px;
	vertical-align: middle;
}

.table_users th {
	border-bottom: 2px solid #666666;
	vertical-align: middle;
	font-weight: bold;
	padding: 5px;
}

.table_users tr:nth-of-type(even) {
	background: rgb(255, 242, 255);
}

.table_users tr:nth-of-type(odd) {
	background: rgb(254, 228, 254);
}

.table_users tr {
	cursor: pointer;
}

.table_users tr:hover {
	background: rgb(227, 167, 185);
}

.table_users tr:hover th {
	background: rgb(254, 228, 254);
	cursor: default;
}

.bigger_column {
	width: 250px;
}

.big_column {
	width: 200px;
}

.normal_column {
	width: 150px;
}

.small_column {
	width: 100px;
}

.smaller_column {
	width: 75px;
}

.smallest_column {
	width: 50px;
}

.tiny_column {
	width: 25px;
}

.admin_user_sections {
	border-bottom: 1px solid #DDDDDD;
	overflow: auto;
}

.admin_user_sections li {
	float: left;
}

.admin_user_sections li a {
	box-sizing: border-box;
    -moz-box-sizing: border-box;
	display: block;
	border-left: 1px solid #999999;
	width: 200px;
	text-align: center;
	line-height: 40px;
	background: rgba(0,0,0,0.1);
}

.admin_user_sections li a:hover {
	background: none;
}

.admin_user_sections li:first-of-type a {
	border-left: none;
}

.table_history th {
	vertical-align: middle;
	text-align: center;
	font-weight: normal;
	padding: 7px;
}

.table_history td {
	text-align: center;
	padding: 7px;
}

.admin_actions {
	display: inline-block;
	margin: 0 auto;
}

.action_button  {
	float: left;
}

.action_button a {
	display: block;
	width: 150px;
	height: 150px;
	line-height: 150px;
	background: #CCCCCC;
	border-radius: 10px;
	border: 3px solid #DDDDDD;
	margin: 10px;
	text-align: center;
	box-shadow: 5px 5px 3px rgba(0,0,0,0.6);
}

.select_contact_container {

	width: 400px;
	height: 250px;
	text-align: center;
	margin: 25px;
	padding: 50px 25px;
	background: rgb(255, 242, 255);
	border: 2px solid #DDDDDD;
	border-radius: 10px;

}

.admin_dish_A {
	background-image: url(images/test1A.png) !important;
}

.admin_dish_B {
	background-image: url(images/test1B.png) !important;
}

.admin_dish_C {
	background-image: url(images/test1C.png) !important;
}

.admin_dish_D {
	background-image: url(images/test1D.png) !important;
}

.admin_dish_X {
	background-image: url(images/test1X.png) !important;
}