/* GENERAL */

html {
	background: rgb(250, 239, 239);
}

body {
	font-family: 'Open Sans', sans-serif;
	background-color: #FAEFEF;
}

.wrap {
	width: 1000px;
	margin: 0px auto;
}

img {
	max-width: 100%;
}

h1, h2, h3, h4, h5, h6 {
	text-transform: uppercase;
	color: #582f52;
}

h2, h1 {
	padding: 25px 0px;
	font-size: 27px;
}

p {
	line-height: 1.25em;
	font-size: 11pt;
}

/* HEADER */


.slider {
	width: 100%;
	background: url('http://missbefit.tv/wp-content/uploads/2012/08/veggiesonadiettapemeasure.jpg');
	background-size: cover;
	background-position: center;
	height: 300px;
}


.logo .wrap img {
	float: left;
}

.header_contacto {
	float: right;
}

.menu, .logo {
	min-width: 1000px;
	clear: both;
	overflow: auto;
	background: #CF6786;
	box-shadow: 0px -3px 5px rgba(0,0,0,0.4), 0px 3px 5px rgba(0,0,0,0.4), 0px 30px 20px rgba(255,255,255,0.5) inset;
	padding: 3px 0;
	position: relative;
	z-index: 1;
}

.menu {
	text-align: center;
}

.menu_list {
	display: inline-block;
}

.menu_item {
	color: #FFFFFF;
	cursor: pointer;
	float: left;
	text-transform: uppercase;
	letter-spacing: 3px;
	font-size: 14pt;
	padding: 18px 40px;
}

.menu_item:hover {
	color: #582f52;
	transition: all .3s;
}

/* FOOTER */

.footer {
	height: 300px;
	background: rgb(207, 103, 134);
	
}


/* INDEX */

.content {
	overflow: auto;
	min-width: 1000px;
}

.main {
	box-sizing: border-box;
    -moz-box-sizing: border-box;
	float: left;
	padding: 10px;
	width: 75%;
}

.index_post {
	padding-bottom: 30px;
}

.news_title {
	clear: left;
	padding-top: 20px;
	padding-bottom: 5px;
	margin-bottom: 15px;
	font-size: 14pt;
	letter-spacing: 2px;
	border-bottom: 1px solid rgb(88, 47, 82);
}

.news_image_thumbnail {
	float: left;
	border: 1px solid #666666;
	margin: 0px 10px 10px 0px;
	box-shadow: 4px 4px 2px rgba(0,0,0,0.4);
}

/* SIDEBAR */

.sidebar {
	box-sizing: border-box;
    -moz-box-sizing: border-box;
	width: 25%;
	margin-top: 77px;
	padding-left: 20px;
	float: left;
}

.sidebar h3 {
	text-transform: uppercase;
	padding: 15px 0px;
	color: #582f52;
}

.user_small_avatar {
	display: block;
	float: left;
	margin: 0px 10px 5px 0px;
	border: 1px solid #DDDDDD;
	box-shadow: 3px 3px 3px rgba(0,0,0,0.3);
	border-radius: 5px;
}

.user_subtitle {
	font-size: 8pt;
	color: #888888;
}

.user_quick_links {
	clear: left;
	font-size: 10pt;
	padding: 10px 0px 10px 30px;
	list-style: circle;
	line-height: 20px;
}

/* OTHERS */

.login_error {
	font-size: 15pt; 
	color: #FF0000;
	text-shadow: 0px 0px 1px rgba(255,255,255,0.2);
}

.login_content {
	padding: 30px;
	text-align: center;
}

.login_options {
	padding: 30px;
}

.login_options a {
	display: inline-block;
	font-size: 10pt;
}