/* GENERAL STYLES */

.value_default {
	background: #F9F9F9;
	font-family: inherit;
	border: 1px solid rgb(199, 199, 199);
	border-radius: 5px;
	color: rgb(141, 140, 140);
	font-weight: bold;
	letter-spacing: 1px;
	padding: 5px 5px;
	margin: 5px 0px;

} 

.changing_form_input:focus, .changing_form_input:focus, .value_not_equal_to_default {
	box-shadow: 0px 0px 3px rgba(199, 0, 162, 0.25);
	background: #FFFFFF;
	color: rgba(60, 60, 60, 1);
}

.changing_form_input:focus, .changing_form_input:focus {
	transition: all .3s;
}

input[type="button"], input[type="submit"], .button_style {
	padding: 5px 15px 6px;
	margin: 5px 0px;
	color: #ffffff;
	text-decoration: none;
	font-family: inherit;
	font-size: 11pt;
	line-height: 21px;
	text-transform: uppercase;
	border-radius: 5px;
	box-shadow: 0 2px 3px #999999, 0px -5px 15px rgb(187, 87, 116) inset;
	text-shadow: 0 -1px 1px #222;
	border: 1px solid rgba(0,0,0,0.2);
	background: rgb(222, 117, 158);
	cursor: pointer;
	
}

input[type="button"]:hover, input[type="submit"]:hover, .button_style:hover {
	box-shadow: 0 2px 3px #999999, 0px -5px 5px rgba(255,255,255,0.1) inset;
	border: 1px solid rgb(186, 83, 184);
}

.hidden_field {
	display: none;
	opacity: 0;
	visibility: hidden;
}

.contains_input_file {
	display: inline-block;
	position: relative;
	width: 193px;
	height: 36px;
	overflow: hidden;
}

.contains_input_file input[type="file"] {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	opacity: 0;
}

/* TERMS OF USE */

.terms_of_use {
	font-size: 9pt;
	color: #000000;
	font-weight: normal;
	line-height: 9pt;
	text-align: justify;
}

/* SIZING */

.input_full_size {
	width: 100%;
}

.textarea_full_size {
	width: 100%;
	height: 200px;
}

.input_giant {
	width: 500px;
}

.input_big {
	width: 400px;
}

.input_normal {
	width: 300px;
}

.input_default {
	width: 180px;
}
.input_small {
	width: 150px;
}

.input_smaller {
	width: 100px;
}

.input_smallest {
	width: 50px;
}

.input_tiny {
	width: 18px;
}

/* DATA SECTION */

.ui-datepicker {
	z-index: 3 !important;
}

.data_section {
	text-align: left;
	font-size: 16px;
	color: #444444;
	font-weight: bold;
	min-height: 80px;
}

.data_section_hor {
	text-align: left;
	font-size: 16px;
	color: #444444;
	font-weight: bold;
}

.data_section label {
	display: block;
	padding: 15px 0px;
}

.data_section_hor label {
	margin: 5px 10px 5px 0px;
	min-width: 250px;
	display: inline-block;
}

.data_section input, .data_section_hor input {
	background: #F9F9F9;
	font-family: inherit;
	border: 1px solid rgb(199, 199, 199);
	border-radius: 5px;
	font-weight: bold;
	letter-spacing: 1px;
	padding: 5px 5px;
	margin: 5px 0px;
}

.data_section input[type="radio"], .data_section input[type="checkbox"]  {
	margin: 5px 5px 5px 10px;
}

select {
	width: 180px;
}

.data_left_column {
	float: left;
	width: 50%;
}

.data_right_column {
	float: right;
	width: 50%;
}

.label_info_question {
	font-size: 11px;
	color: rgb(224, 155, 176);
	display: inline-block;
	position: relative;
	top: -10px;
	padding: 3px;
}

.label_info_question_tooltip {
	background: rgba(0,0,0,0.8) !important;
	font-size: 9pt !important;
	color: #FFFFFF !important;
	border: 1px solid rgba(255,255,255,0.3) !important;
	text-align: justify !important;
	line-height: 12pt !important;
}

.textarea_more_info {
	font-size: 10pt;
	color: rgba(60, 60, 60, 1);
	padding: 10px;
}

.upload_div	{
	display: inline-block;
	text-align: center;
}

.current_avatar {
	margin: 10px;
	border: 2px solid #777777;
	box-shadow: 2px 2px 2px rgba(0,0,0,0.3);
	border-radius: 7px;
	width: 80px;
	height: 80px;
}