
.table_dishes  {
	margin: 20px 0px 40px -30px;
}

.table_dishes td {
	vertical-align: middle;
	margin-right: 10px;
}

.dish, .food {
	width: 80px;
	height: 80px;
	margin: 2px;
	border-radius: 15px;
	position: relative;
}

.dish {
	background: url(images/test1X.png);
}

.dish_preview {
	line-height: 80px;
}

.food_preview {
	box-sizing: border-box;
    -moz-box-sizing: border-box;
	border-radius: 15px;
	display: block;
	border: 1px solid #FFFFFF;
	padding: 15px 10px;
	background: rgb(238, 213, 235);
	width: 100%;
	height: 150px;
	top: 30px;
	left: 0px;
	position: absolute;
	overflow: hidden;
	z-index: 1;
	transition: all 1s;
}

.food_preview:focus {
	left: -35px;
	height: 250px;
	width: 250px;
	overflow: auto;
	z-index: 2;
	transition: width 1s, height 1s, left 1s;
}

.hours_day {
	margin: 20px;
	width: 180px;
	height: 200px;
	display: inline-block;
	position: relative;
}

.hours_day label {
	font-weight: bold;
}

.dish_week_day {
	font-weight: bold;
	padding: 10px 0px;
	min-width: 83px;
	text-align: center;
}

.dish_time {
	font-weight: bold;
	padding: 0px 20px 0px 0px;
	text-align: right;
	transform: rotate(45deg);
	vertical-align: top !important;
	width: 100px;
	min-height: 83px;
}

.dish input {
	display: none;
}

.dish_options {
	position: absolute;
	width: 120px;
	height: 120px;
	overflow: hidden;
	top: -20px;
	left: -20px;
}

.dish_options div {
	background: red;
	float: left;
	cursor: pointer;
	background: #CDCDCD;
	width: 58px;
	height: 58px;
	line-height: 58px;
	color: transparent;
	border: 1px solid #AAAAAA;
}

.dish_options div:nth-of-type(1) {
	border-top-left-radius: 15px;
	background-image: url(images/test1A.png);
	background-size: cover;
}

.dish_options div:nth-of-type(2) {
	border-top-right-radius: 15px;
	background-image: url(images/test1B.png);
	background-size: cover;
}

.dish_options div:nth-of-type(3) {
	border-bottom-left-radius: 15px;
	background-image: url(images/test1C.png);
	background-size: cover;
}

.dish_options div:nth-of-type(4) {
	border-bottom-right-radius: 15px;
	background-image: url(images/test1D.png);
	background-size: cover;
}

.dish_options div:nth-of-type(5) {
	border-radius: 5px;
	line-height: 20px;
	color: white;
	width: 20px;
	height: 20px;
	background: rgb(208, 105, 135);
	position: absolute;
	top: 48px;
	left: 48px;
}

.dish_tooltip {
	background: rgba(0,0,0,0.8) !important;
	font-size: 9pt !important;
	color: #FFFFFF !important;
	border: 1px solid rgba(255,255,255,0.3) !important;
}

.activities_form tr:first-of-type {
	border-bottom: 1px solid rgb(223, 223, 223);
}

.activity_name, .activity_duration, .activity_frequency {
	line-height: 30px;
	text-align: left;
	padding: 0px 20px 0px 10px;
	margin: 40px 10px 20px 0px;
	width: 200px;
}

.activity_frequency {
	width: 150px;
}

.activities_form input, .activities_form select {
	margin: 10px;
}

.activities_form {
	margin-bottom: 30px;
}

.activities_form tr:nth-of-type(2) .row_cross {
	display: none;
}
.row_cross {
	cursor: pointer;
	display: block;
}