
.topmenu {
	float: right;
	display: inline-block;
}

#topmenu_messages span{
	position: absolute;
	bottom: 0px;
	right: 0px;
	display: inline-block;
	background: rgb(239, 36, 36);
	color: #FFFFFF;
	font-size: 10pt;
	padding: 3px;
	border: 1px solid #FFFFFF;
	border-radius: 3px;
	box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
}

#topmenu_profile,
#topmenu_messages,
#topmenu_logout,
#topmenu_admin {
	display: block;
	float: left;
	position: relative;
	height: 35px;
	width: 35px;
	padding: 5px;
	border-radius: 2px;
}

#topmenu_profile:hover,
#topmenu_messages:hover,
#topmenu_logout:hover,
#topmenu_admin:hover {
	background: rgba(255,255,255,0.3);
}