.user_profile {
	padding: 50px 0px;
	font-size: 11pt;
}

.user_profile .wrap_profile {
	background: url(images/user_back.png) repeat-y rgb(255, 242, 255);
	border-radius: 10px;
	box-shadow: 4px 4px 3px rgba(0,0,0,0.3);
	border: 1px solid #DDDDDD;
	overflow: auto;
}

.user_features {
	box-sizing: border-box;
    -moz-box-sizing: border-box;
	float: left;
	width: 20%;
	padding-bottom: 10px;
}

.user_features li a {
	line-height: 20pt;
	padding-left: 20px;
	font-size: 10.5pt;
}

.user_features ul {
	margin-bottom: 10px;
}

.feature_title {
	display: block;
	padding: 10px 10px !important;
	font-size: 12pt !important;
	margin-bottom: 10px;
	font-weight: bold;
	background: #CF6786;
	box-shadow: 0px 30px 20px rgba(255,255,255,0.5) inset;
	position: relative;
	z-index: 1;
} 

.user_functions {
	box-sizing: border-box;
    -moz-box-sizing: border-box;
	float: left;
	width: 80%;
}

.user_functions h3 {
	padding: 20px 50px;
	font-size: 16pt;
	text-align: center;
	border-bottom: 1px solid #DDDDDD;
}

.user_functions h4 {
	font-size: 13pt;
	padding-bottom: 20px;
	clear: both;
}

.user_function_content {
	float: left;
	box-sizing: border-box;
    -moz-box-sizing: border-box;
	width: 100%;
	padding: 30px 20px;
}

.user_section {
	margin-bottom: 30px;
	padding-left: 10px;
}

.profile_summary_column1 {
	line-height: 20px;
	text-align: justify;
	box-sizing: border-box;
    -moz-box-sizing: border-box;
	padding: 10px 30px 10px 0px;
	float: left;
	width: 40%;
}

.profile_summary_column2 {
	line-height: 20px;
	text-align: justify;
	box-sizing: border-box;
    -moz-box-sizing: border-box;
	float: left;
	padding: 10px 30px 10px 30px;
	border-left: 1px solid #DDDDDD;
	min-height: 75px;
	width: 60%;
}

.profile_summary_title {
	font-weight: bold;
}

.profile_message_sumary_block {
	font-size: 11pt;
	line-height: 13pt;
}

.profile_message_summary_from {
	font-weight: bold;
}

.profile_message_summary {
	font-style: italic;
}

#messages {
	margin: 20px;
}

#messages div {
	font-size: 10pt;
	text-align: justify;
}

.message_header {
	border-bottom: 1px solid #DDDDDD;
	line-height: 30px;
	padding-bottom: 10px;
	margin-bottom: 10px;
}

.message_body {
	clear: both;
	padding-bottom: 10px;
}

.message_subtitle {
	font-weight: bold;
}

.message_icons {
	float: right;
	display: inline-block;
}

#messages h3 {
	line-height: 20px;
	font-size: 11pt;
	text-align: left;
	font-weight: bold;
}

.unread_message {
	background: url("images/ui-bg_glass_70_ede4d4_1x400.png") repeat-x scroll 50% 50% #EDE4D4 !important;
}

.read_message {
	background: url("images/ui-bg_glass_70_ede4d4_1x400-read.png") repeat-x scroll 50% 50% #EDE4D4 !important;
}

.chart {
	height: 350px;
	width: 760px;
	position: relative;
	margin-bottom: 20px;
}

.chart div {
	position: absolute;
	overflow: visible !important;
	top: -50px;
}

.program_section {
	padding: 40px;
	text-align: center;
}

.big_columns_wrapper {
	display: inline-block;
}

.big_column_buttons {
	float: left;
	display: block;
	margin: 30px 12px;
	background: rgb(224, 158, 178);
	box-shadow: 3px 3px 3px rgba(0,0,0,0.5);
	width: 200px;
	height: 300px;
	border-radius: 15px;
	line-height: 300px;
}


.big_column_buttons:hover {
	background: rgb(210, 112, 141);
}

.table_users {
	border: 2px solid #666666;
	margin-top: 15px;
}

.table_users td {
	text-align: center;
	vertical-align: middle;
}
.table_users td a {
	box-sizing: border-box;
    -moz-box-sizing: border-box;
	display: block;
	padding: 20px 10px;
	vertical-align: middle;
}

.table_users th {
	border-bottom: 2px solid #666666;
	vertical-align: middle;
	font-weight: bold;
	padding: 5px;
}

.table_users tr:nth-of-type(even) {
	background: rgb(255, 242, 255);
}

.table_users tr:nth-of-type(odd) {
	background: rgb(254, 228, 254);
}

.table_users tr {
	cursor: pointer;
}

.table_users tr:hover {
	background: rgb(227, 167, 185);
}

.table_users tr:hover th {
	background: rgb(254, 228, 254);
	cursor: default;
}

.bigger_column {
	width: 250px;
}

.big_column {
	width: 200px;
}

.normal_column {
	width: 150px;
}

.small_column {
	width: 100px;
}

.smaller_column {
	width: 75px;
}

.smallest_column {
	width: 50px;
}

.tiny_column {
	width: 25px;
}

.user_program_sections {
	border-bottom: 1px solid #DDDDDD;
	overflow: auto;
}

.user_program_sections li {
	float: left;
}

.user_program_sections li a {
	box-sizing: border-box;
    -moz-box-sizing: border-box;
	display: block;
	border-left: 1px solid #999999;
	width: 266px;
	text-align: center;
	line-height: 40px;
	background: rgba(0,0,0,0.1);
}

.user_program_sections li a:hover {
	background: none;
}

.user_program_sections li a.disabled {
	color: #999999;
}

.user_program_sections li a.disabled:hover {
	background: rgba(0,0,0,0.1);
}

.user_program_sections li:first-of-type a {
	width: 268px;
	border-left: none;
}

.summary_buttons {
	text-align: center;
}

.summary_buttons > div {
	display: inline-block;
}

.program_summary_button {
	float: left;
}
.program_summary_button a{
	display: block;
	width: 150px;
	height: 150px;
	line-height: 150px;
	background: #CCCCCC;
	border-radius: 10px;
	border: 3px solid #DDDDDD;
	margin: 10px;
	text-align: center;
	box-shadow: 5px 5px 3px rgba(0,0,0,0.6);
}